<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link the main css file -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- link the main js file -->
    <script type="module" src="js/app.js" defer></script>
</head>

<body>
    <div class="header-bar">
        <span>
            DATA VISUALIZATION
        </span>
    </div>

    <div>
        <img class="header-image" src="./Images/US gun.png" />
    </div>

    <section class="ai2html" style="margin-top: 80px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Title.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <section class="ai2html" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Sub-1.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <p class="content-text mt-3 mb-5">
        On june 23, 2020 the United States Supreme Court gave a landmark decision in the case widely known as <u>New York State Rifle & Pistol Association, Inc. v. Bruen</u>. The judgment ruled New York's law was unconstitutional, and effectively ruled
        that the possession of pistols in public was a constitutional right under the Second Amendment. It was a case challenging the new york states law that requires you to have a proper cause in order to carry a concealed pistol on their person in
        public. After this historic judgment, support and backlashes came up all across the US.
    </p>

    <section class="ai2html" style="margin-top: 30px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Jprotest.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <section class="ai2html" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Sub-2.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <p class="content-text mt-3 mb-5">
        Gun-related violence is a violence committed with the use of a firearm. This includes criminal violences such as homicide, assault with a deadly weapon, and suicide, or attempted suicide, where any kind of firearm is used. According to the United Nations,
        deaths from small firearms exceed those from all other weapons combined, and more people die each year from gun-related violence than did in the atomic bombings of Hiroshima and Nagasaki combined. The global death toll from use of guns may be
        as high as 1,000 deaths each day.
    </p>

    <section class="ai2html" style="margin-top: 50px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Global-death.ejs'); %>
                </div>
            </div>
        </div>
    </section>
    <section class="ai2html" style="margin-top: 80px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/death-vs-gdp.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <p class="content-text mt-5 mb-5">
        Here, through the above graph we can clearly say that the USA is the only country with higher income but still is amongst the top countries with gun violence. The other countries considering the yearly GDP are still low income countries when compared
        to that of the United States.
    </p>

    <section class="ai2html" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Sub-3.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <p class="content-text mt-5 mb-5">
        Every US citizen has a birth right to own firearms according to the second amendment. So, many carry guns for self-defense. But this also means anyone and everyone has equal access to guns. US governments have allowed gun violence to become a human rights
        crisis. On average, more than 360 people in the USA are shot every day and survive, at least long enough to get to a hospital.
    </p>

    <p class="content-text mt-5" style="margin-bottom: 0px;">
        <strong style="display: block ;text-align: center;">"A well regulated Militia, being necessary to the security of a free State, the right of the people to keep and bear Arms, shall not be infringed."</strong>
    </p>
    <p class="content-text mb-5">
        <span style="display: block ;text-align: right;">- Second Amendment Act</span>
    </p>

    <section class="ai2html" style="margin-top: 30px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/USA-deaths.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <section class="ai2html" style="margin-top: 80px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/USA-deaths-over-years.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <p class="content-text mt-5 mb-5">
        The deaths across the USA due to gun violence has constantly been increasing in the past few years. In the wake of the new historic judgment and its domino effect, we could only imagine how this would progress in the future.
    </p>

    <section class="ai2html" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Sub-4.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <p class="content-text mt-5 mb-5">
        The Gun Violence Archive defines a mass shooting as an incident in which four or more people are shot or killed. In 2022 within the first 185 days, there have been an average of 11 such incidents per week in the United States.
    </p>
    <section class="ai2html" style="margin-top: 30px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/img-rob.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <!-- scrolly -->
    <section id="doge-scrolly" style="margin-top: 80px;">

        <!-- define the scroll sections -->
        <% const blocks=
        [
        { 
            "filename" : "shoot_all" , 
            "anno" : "_blank-slide_" 
        }, 
        { 
            "filename" : "shoot_1" , 
            "anno": "<div class='h5 fw-bold'> Las Vegas Shooting </div> A shooter opened fire on crowds at the Route 91 Music Festival from the window of his hotel room on the 32nd floor of Mandalay Bay Resort and Casino. In a little more than 10 minutes, he shot and killed <b class='killings'>58 people</b>, 31 of whom were pronounced dead at the scene; he also shot and injured <u class='injured'>413 people</u>, according to authorities. " 
        },
        { 
            "filename" : "shoot_4" , 
            "anno": "<div class='h5 fw-bold'> Parkland Shooting </div> A former student of Marjory Stoneman Douglas High School, entered the school and opened fire upon students and teachers. <b class='killings'>17 victims were shot and killed</b> while another <u class='injured'> 17 were injured</u>. The shooter escaped in the aftermath but was later apprehended by law enforcement." 
        },
        { 
            "filename" : "shoot_2" , 
            "anno": "<div class='h5 fw-bold'> Robb Elementary School Shooting </div> An 18-year-old <u class='injured'>shot 38 people</u>, 21 fatally, including <b class='killings'>19 children and two teachers</b>, at Robb Elementary School. The shooter was armed with an assault rifle and high-capacity magazine. " 
        }
        ] 
    %>
            <!-- every { filename, anno } object makes a new section -->

            <!-- include the component -->
            <%- include('./scrolly/scrolly.ejs', {id: "doge-scrolly" , blocks: blocks }); %>

    </section>

    <section class="ai2html" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Mass-over-years.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <section class="ai2html" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Sub-5.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <p class="content-text mt-5 mb-5">
        The increased number of gun violence is directly associated with the number of guns possessed by the people of the United states. According to GunPolicy.org, 75 percent of the world's 875 million guns are civilian controlled. Roughly half of these guns
        (48 percent) are in the United States, which has the highest rate of gun ownership in the world. Globally, millions are wounded or killed by the use of guns.
    </p>

    <section class="ai2html" style="margin-top: 30px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/gun-ownership.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <section class="ai2html" style="margin-top: 80px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/gun-count.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <section class="ai2html" style="margin-top: 80px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Gun-laws.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <section class="ai2html" style="margin-top: 80px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Gun-laws-2.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <p class="content-text mt-5 mb-5">
        For increasing such restrictions and implementing more laws for obtaining and Licensing a gun, the members of congress have to pass and vote on legislation. So, both the gun rights and gun control organizations do lobbying as well as outside spending.
    </p>

    <section class="ai2html" style="margin-top: 80px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/lobby-out.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <section class="ai2html" style="margin-top: 100px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- This is the line that matters for import -->
                    <%- include('./ai2html-output/Lobbying.ejs'); %>
                </div>
            </div>
        </div>
    </section>

    <p class="content-text mt-5">
        So, from all this we can clearly understand that the gun rights organization spends more every year for lobbying and outside spending to push lawmakers into either postponing or rule out gun control laws and restrictions. And this is only increasing every
        year.
    </p>

    <p class="content-text mt-5 mb-5">
        <strong style="font-size: 28;">The End.</strong>
    </p>

    <hr style="width: 1080px; height: 2.5px; margin: 80px auto;">

    <p class="content-text mb-5">
        <strong>Sources:</strong>
        <br> Gunviolencearchieve.org, Gunpolicy.org, Small Arms Survey, Everytown, The New York Times, Open Secrets
    </p>

</body>

</html>